@import "../../../styles/standardStyles";

.header__main__content {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: $gap-small;
}

.main__title {
    align-items: center;
    display: flex;
}

.fa-star {
    border: 3px solid $Gray-Text;
    border-radius: 50%;
    color: $Gray-Text;
    font-size: 14px;
    margin-right: $gap-medium;
    padding: $gap-small;
}

.others__users {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 300px;
}

.others__users__img {
    min-width: 150px;
}

.user__img {
    border: 2px solid $White;
    border-radius: 50%;
    margin-left: -15px;
    width: 35px;
}

.number__of__others__users {
    color: $Gray-Text;
    margin: 0 $gap-medium;
}

.btn__options {
    border: none;
    background-color: transparent;
    color: $Gray-Text;
    cursor: pointer;
    font-size: 20px;
}