@import "../../../styles/standardStyles";

.lateral__menu {
    background-color: $Gray;
    color: $Black-Text;
    min-height: 100vh;
    padding: $gap-medium;
    margin-right: 15px;
}

@import "../../../styles/components/lateral-menu/LateralMenuHeader";
@import "../../../styles/components/lateral-menu/LateralMenuNav";
