@import "../../../styles/standardStyles";

.lateral__menu {
    background-color: $Gray;
    color: $Black-Text;
    height: 100%;
    min-height: 100vh;
    padding: $gap-medium;
    width: 13.75em;
}

@import "../../../styles/components/lateral-menu/LateralMenuHeader";
@import "../../../styles/components/lateral-menu/LateralMenuNav";