* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Red Hat Display', sans-serif;
    line-height: 1.5;
}

@import "standardStyles";
@import "components/lateral-menu/LateralMenu";