@import "standardStyles";

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: $Light-Gray;
    color: $Black-Text;
    display: flex;
    font-family: "Red Hat Display", sans-serif;
    line-height: 1.5;
}

@import "components/lateral-menu/LateralMenu";
@import "components/main-content/MainContent";